Hello BOB!
<!--siony Retired6270% -->
<!--<body style="background-color:GoldenRod;">-->
<style>
  body {
      background-image: url('men/images/beautiful-space-nebula1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
</style>
{% for arg in arg %}

<!-- {{ arg }}
{{ arg.imag }}  -->
<br>{{ arg.title }}
<br>{{ arg.desc }}
<br>{{ arg.date }}
<br>{{ arg.imag }}
<br><img src='{{ arg.imag }}' width="1100" heigth="300" style="border:5px solid black">
  {% if arg.url %}
  <br>  <a href =  '{{ arg.url }}'>link</a>
  {% endif %}
{% endfor %}
<form class="" action="{% url 'page2' %}">

  <input type="submit" name="" value="Page2" class="btn btn-primary">


</form>
