Hello BOB! NEW CHANGE
<!--siony Retired6270% -->
<!--<body style="background-color:GoldenRod;">
<!--{{ arg }}-->
{% for arg in arg %}

<!-- <br>{{ arg.title }}
<br>{{ arg.desc }}
<br>{{ arg.date }}
<br>{{ arg.imag }} -->
<br><img src='{{ arg.imag }}' width="1100" heigth="300" style="border:5px solid black">
{% if arg.url %}
<!--<br>  <a href =  '{{ arg.url }}'>Viisit the accompaning site</a>-->
{% endif %}
{% endfor %}
<form class="" action="{% url 'page2' %}">

  <input type="submit" name="" value="Page2" class="btn btn-primary">


</form>
