<!--HELLO! 2-->
<!--<body style="background-color:DarkSalmon;"> -->
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>  <style>
    body {
      background-image: url('men/images/Beautiful_Space_3D_Screensaver-2588681.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;


        }
  </style>
<!--{{ arg }}
{{ arg }}-->
{% for arg in arg %}

<!--<br>{{ arg.title }}
<br>{{ arg.desc }}
<br>{{ arg.date }}
<br>{{ arg.imag }}-->
<br><img src='{{ arg.imag }}' width="1100" heigth="300" style="border:5px solid black">
{% if arg.url %}
<br>  <a href =  '{{ arg.url }}'>link</a>
{% endif %}
{% if arg.bdgd %}
  <style>
    body {
      background-image: url('{{ arg.bdgd }}');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
  </style>
{% endif %}
{% endfor %}


<form class="" action="{% url 'page3' %}">

  <input type="submit" name="" value="Page3" class="btn btn-primary">


</form>
